{{#*inline "body"}}
<main class="gh-main gh-outer">
    {{#with tag}}
        <section class="gh-article gh-inner">
            <header class="gh-article-header">
                <h1 class="gh-article-title">{{name}}</h1>
                {{#if description}}
                    <p class="gh-article-excerpt">{{description}}</p>
                {{/if}}
                {{> partials/feature-image}}
            </header>
        </section>
    {{/with}}
    <div class="gh-feed{{#match @root.custom.header_section_layout "!=" "Large background"}} gh-inner{{/match}}">
        {{#foreach posts}}
            {{> partials/loop}}
        {{/foreach}}
    </div>
</main>
{{/inline}}
{{> default}}